{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions"
          ]
        },
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "extensions": [ ".js", ".jsx" ],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-flow-strip-types"
      ]
    },
    "development": {
      "plugins": [
        "flow-react-proptypes",
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
