{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [ ".js", ".jsx" ],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "transform-flow-strip-types"
      ]
    },
    "development": {
      "plugins": [
        "flow-react-proptypes",
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
